<div class="fan-card-preview" [style.background]="cardBackground">
  <div class="fan-card-preview__stripe"></div>
  <div class="fan-card-preview__header">
    <div class="fan-card-preview__title">FIFA Fan Zone</div>
    <div class="fan-card-preview__subtitle">Collector edition</div>
  </div>

  <div class="fan-card-preview__photo-wrap">
    @if (photoDataUrl) {
      <img class="fan-card-preview__photo" [src]="photoDataUrl" alt="Your photo" />
    } @else {
      <div class="fan-card-preview__placeholder">
        <img
          class="fan-card-preview__camera-icon"
          src="assets/icons/camera-white.svg"
          width="24"
          height="24"
          alt=""
        />
        <span class="fan-card-preview__camera-text">Take<br />picture</span>
      </div>
    }
  </div>

  <div class="fan-card-preview__motto">
    {{ team?.motto ?? 'Your team motto' }}
  </div>
</div>
