@import './styles/fds-tokens.css';
@import './styles/tokens.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: var(--c-lt-bg);
  color: var(--c-lt-text-1);
  font: var(--f-brand-type-body);
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}
